html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-size: $font-med;
  font-family: "Public Sans", sans-serif;
  color: $grayishBlue;
  font-weight: 300;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

// FLEXBOX STYLE

.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }
  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
}

// BUTTONS STYLE

button,
.button {
  padding: 1rem 1.875rem;
  border-radius: 50px;
  cursor: pointer;
  background: linear-gradient(to right, $limeGreen, $brightCyan);
  border: none;
  color: $white;
  font-weight: 400;
}

// VISIBILITY
.hide-for-mobile {
  //hide for tablets and mobiles
  @include breakpoint-down(medium) {
    display: none;
  }
}
.hide-for-desktop {
  //hide for desktop viewpoint
  @include breakpoint-up(large) {
    display: none;
  }
}
